@charset "utf-8";
/* CSS Document */

    body {
        margin: 0;
    }

    .demo-bar {
        background: #252525;
        width: 100%;
        height: 118px;
        margin-bottom: 40px;
        float: left;
    }

    .demo-bar:after {
        content: "";
        display: block;
        clear: both;
    }

    .demo-bar img:first-of-type {
        float: left;
        max-width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .demo-bar .left {
        float: left;
        width: 60%;
        height: 118px;
        position: relative;
    }

    .demo-bar .right {
        background: url(images/demo-bar-right.jpg) left no-repeat #2e2e2e;
        width: 40%;
        max-width: 350px;
        height: 118px;
        float: right;
        position: relative;
    }

        .demo-bar p {
            width: auto;
            color: #666;
            position: absolute;
            bottom: 30px;
            right: 5%;
            text-align: right;
            background: none;
        }

        .demo-bar a {
            color: #ccc;
            font-size: 10px;
            border-bottom: 1px dotted #999;
            text-transform: uppercase;
        }

        .twitter-buttons {
            position: absolute;
            top: 20px;
            right: 5%;
            text-align: right;
        }

    .clearfix {
        clear: both;
        display: block;
    }

    @media screen and (max-width:580px) {
        .demo-bar .left {
        }

        .demo-bar .right {
            background: none;
        }

        .demo-bar p {
            width: 100px;
            color: #252525;
        }
    }
div.wrapper {
	width:960px;
	height:500px;
	margin:0 auto;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
}

h1 {
	margin:0;
	margin-top:20px;
	padding:10px;
	background:#deeaf4;
	border-radius:400px;
	-moz-border-radius:400px;
	-webkit-border-radius:400px;
	margin-bottom:10px;
}

a { 
	text-decoration:none;
	color:#036; border-bottom:1px dotted #06F;
	-moz-transition:background 0.3s ease;
	-webkit-transition:background 0.3s ease;
	-o-transition:background 0.3s ease;
	-ms-transition:background 0.3s ease;
	transition:background 0.3s ease;
	padding:3px 5px;
}
a span { font-size:0.8em; }
a:hover { background:#e8e8e8; }
a:visited { color:#036; }

p {
	position:absolute;
	bottom:10px;
	left:20px;
	z-index:3;
	background:#463a34;
	border-radius:80px;
	-moz-border-radius:80px;
	-webkit-border-radius:80px;
	padding:3px;
	}

div.ball {
	width:234px;
	height:234px;
	border-radius:1170px;
	font-family:arial;
	background:#2081cb;
	background-image: -moz-radial-gradient(90px 90px, circle, #dbeaf5 0%, #a5cdea 10%, #6fb3e6 20%, #238fe2 30%, #2081cb 50%, #0e5d99 70%);
	background-image: -webkit-radial-gradient(90px 90px, circle, #dbeaf5 0%, #a5cdea 10%, #6fb3e6 20%, #238fe2 30%, #2081cb 50%, #0e5d99 70%);
	background-image: -o-radial-gradient(90px 90px, circle, #dbeaf5 0%, #a5cdea 10%, #6fb3e6 20%, #238fe2 30%, #2081cb 50%, #0e5d99 70%);
	-moz-transition:all 2s ease;
	-webkit-transition:all 2s ease;
	-o-transition:all 2s ease;
	-ms-transition:all 2s ease;
	transition:all 2s ease;
	position:relative;
	left:30px;
	top:30px;
	z-index:2;
}

div.ball:active {
	-moz-transform:rotate(660deg);
	-webkit-transform:rotate(660deg);
	-o-transform:rotate(660deg);
	-ms-transform:rotate(660deg);
	transform:rotate(660deg);
	left:700px;
}

div.ball span {
	width:120px;
	height:110px;
	display:block;
	border-radius:600px;
	-moz-border-radius:60px;
	-webkit-border-radius:60px;
	position:absolute;
	bottom:55px;
	right:35px;
	font-size:5em;
	font-weight:bold;
	text-align:center;
	padding-top:10px;
	-moz-transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	transform:rotate(10deg);
	background: -moz-linear-gradient(top left, #fff 0%, #d1d6da 80%, #b9c0c5 100%);
	background: -o-linear-gradient(top left, #fff 0%, #d1d6da 80%, #b9c0c5 100%);
	background: -webkit-linear-gradient(top left, #fff 0%, #d1d6da 80%, #b9c0c5 100%);
	opacity:0.9;
}

.table {
	height:280px;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:1;
}

.table span {
	display:block;
}

span.one { height:10px; background:#433e1e; }
span.two { height:6px; background:#3da739; }
span.three { height:34px; background:#017a37; }
span.four { height:98px; background:#3cad3b; }
span.five { height:15px; background:#666; }
span.six { height:19px; background:#1f2813; }
span.seven { height:98px; background:#231a15; }


