* {
    font-family: 'Martel Sans', sans-serif !important;
    color:white;
    text-shadow: 1px 1px 1px black;
}
body {
    width: 90%;
    margin: 2% 5% 5% 5%;
    overflow-x: hidden;
    text-align:center;
    background-image: url("lotteryBackground.jpg");
    background-repeat: repeat-y;
    background-size:100%;
}

.jumbotron {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.myHeading h1 {
    background-color: rgba(51,143,226,0.6);
    padding: 15px 0 10px 0;
    margin-bottom: 20px;
}

.ballLabel {
    margin: 3%;
    text-shadow: none;
}

#ButtonPickNumbers, #ButtonRunSimulations, #ButtonMoreInfo, #ButtonReset {
    cursor: pointer;
    margin-top: 20px;
    background-color: rgba(51,143,226,0.6);
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid rgba(14, 93, 154, 0.43);
}

#ButtonPickNumbers:hover, #ButtonRunSimulations:hover, #ButtonMoreInfo:hover, #ButtonReset:hover {
    /*cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 20px;*/
    background-color: rgba(25,71,113, 0.5);
    border: 2px solid rgba(14, 93, 154, 1);
}

#DropDownListSims {
    margin-top: 20px;
    background-color: transparent;
    padding: 6px 0;
    border: 2px solid white;
}

#DropDownListSims option {
    color: black;
}

#ButtonMoreInfo {
    margin-bottom: 30px;
}

.leftHeader {
    text-align: left;
    /*color: red;*/
}
.rightHeader {
    text-align: right !important;
}
.centerHeader {
    text-align: center;
    /*color: red;*/
}
#LabelSimNo {
    margin-top: 20px;
    background-color: rgba(51,143,226,0.6);
    border-radius: 5px;
    padding: 8px 10px;
    border: 2px solid rgba(14, 93, 154, 0.43);
}

.ball {
    position: relative;
    height: 12vw;
    width: 12vw;
    margin: 0.5%;
    border-radius: 7vw;
    display: inline-block;
    background:#2081cb;
    background-image: -moz-radial-gradient(90px 90px, circle, #ebeaf5 0%, #b5cdea 10%, #7fb3e6 20%, #338fe2 30%, #3081cb 50%, #1e5d99 70%);
    background-image: -webkit-radial-gradient(90px 90px, circle, #ebeaf5 0%, #b5cdea 10%, #7fb3e6 20%, #338fe2 30%, #3081cb 50%, #1e5d99 70%);
    background-image: -o-radial-gradient(90px 90px, circle, #ebeaf5 0%, #b5cdea 10%, #7fb3e6 20%, #338fe2 30%, #3081cb 50%, #1e5d99 70%);
    background-image: radial-gradient(90px 90px, circle, #ebeaf5 0%, #b5cdea 10%, #7fb3e6 20%, #338fe2 30%, #3081cb 50%, #1e5d99 70%);
                
}
.rollIn1 {
    animation: roll1 2s linear;
}
/*.rollIn2 {
    animation: roll2 2s linear;
}*/
.hidden {
    visibility:hidden;
}
@keyframes roll1 {
    from {
        transform:rotate(606deg);
        left: 100vw;
    }
    to {
        left: 0;
        transform:rotate(0deg);
    }
}
/*@keyframes roll2 {
    from {
        transform:rotate(606deg);
        left: 100vw;
    }
    to {
        left: 0;
        transform:rotate(0deg);
    }
}*/
.ballLabel {
    height: 5vw;
    width: 5vw;
    top: 2.2vw;
    left: 2.5vw;
    display: block;
	position:absolute;
    background-color: white;
    font-size:3vw;
    border-radius: 50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
    color: darkblue;
    font-weight:bold;
	background:#fff;
	background: -moz-linear-gradient(top left, #fff 0%, #d1d6da 80%, #b9c0c5 100%);
	background: -o-linear-gradient(top left, #fff 0%, #d1d6da 80%, #b9c0c5 100%);
	background: -webkit-linear-gradient(top left, #fff 0%, #d1d6da 80%, #b9c0c5 100%);
	text-align:center;
    padding-top:5%;
}
h1 {
    font-size: 4em;
    padding: 0;
    margin:0;
    color:darkblue;
    text-shadow: 2px 2px 2px black;
}

.PanelInfo {
    /*width: 80% !important;*/
}

.numberOptions {
    text-align:center;
}

#PanelStats {
    /*border: 1px groove lightblue;*/
    padding:10px;
}
#PanelInfo {
    margin: 5px auto;
    background-color: rgba(51,143,226,0.6);
    padding: 10px 0;
}
@media screen and (max-width: 500px) {
    #TableStats {
        font-size: smaller !important;
    }
    h1 {
        font-size: 3em;
    }
}